<div class="box">

    <h2>{{registrierungTitel}}</h2>
    <form [formGroup]="neuerNutzer" (ngSubmit)="submit(neuerNutzer.value)">
      <br>
      <br>
      <div class="inputBox">
        <input type="text" required="" formControlName="Nutzername">
        <label>Nutzername: </label>
      </div>
      <div class="inputBox">
        <input type="text" required="" formControlName="GanzerName">
        <label>Ganzer Name: </label>
      </div>
      <div class="inputBox">
        <input type="text" required="" formControlName="Email">
        <label>Email: </label>
      </div>
      <div class="inputBox">
        <input type="text" required="" formControlName="Passwort">
        <label>Passwort: </label>
      </div>
      
      <input id="registrieren" type="submit" value="bestätigen">
    </form>
</div>
