<div class="box">
  <h2>LOGIN</h2>
  <form>
      <div class="inputBox">
          <input type="text" required="">
          <label>Nutzername</label>
      </div>
      <div class="inputBox">
          <input type="text" required="">
          <label>Passwort</label>
      </div>
      <a routerLink="/main">
          <input id="login" type="submit" value="login">
      </a>
    <a routerLink="">
        <input id="registrieren" type="submit" value="registrieren">
    </a>
  </form>
</div>



<router-outlet></router-outlet>