<head>
    <link type="text/css"  rel="stylesheet" href="main.component.css">
</head>
<body>
    <div id="navbar">
        <ul>
        <li>Lagom</li>
        <li>Konto</li> <!--getNutzername-->
        <li>Abmelden</li>
        </ul>
    </div>
    <div id="container">
        <div class="field" id="Tagebuch">
            <div class="content">
                <p>Tagebuch</p>
            </div>
        </div>
        
        <div class="field" id="Kalender">
            <div class="content">
                <h3>{{month}}</h3>
                <div class="month" *ngFor="let day of days">       
                        <div class="day">{{day.number}}</div>
                </div>
            </div>
        </div>
        
        <div class="field" id="Ziele">
            <div class="content">
                <p>Ziele</p>
            </div>
        </div>
        
        <div class="field" id="ToDo">
            <div class="content">
                <p>ToDo</p>
            </div>
        </div>
        
        
        <div class="field" id="Erinnerung">
            <div class="content">
                <p>Erinnerung</p>
            </div>
        </div>
        
        <div class="field" id="Galerie">
            <div class="content">
                <p>Galerie</p>
            </div>
        </div> 
        
        <div class="field" id="Motivation">
            <div class="content">
                <p>Motivation</p>
            </div>
        </div>
    </div>       
    </body>
    <router-outlet></router-outlet>