<div id="overlay">
  <div id="Eintrag">
      <h2>Beitrag erstellen</h2>
      <br><br>
      <form *ngFor="let tagebuch of tagebuch | async">
        <label for="eintrag">Kategorie: </label>
        <select name="eintrag">
          <option value="ziele">Ziele</option>
          <option value="erinnerung">Erinnerung</option>
          <option value="kalender">Kalender</option>
          <option value="tagebuch">Tagebuch</option>
          <option value="todo">To Do Liste</option>
          <option value="galerie">Galerie</option>
        </select>
          <br>
          <br>
         <div class="inputBox">
          <input type="text" name="" required="">
          <label>Datum</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="">
          <label>Uhrzeit</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" required="">
          <label>Titel</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="">
          <label>Untertitel</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" required="">
          <label>Text</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="">
          <label>Notiz</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="">
          <label>Anmerkung</label>
          </div>
        <input type="submit" value="Submit">
      </form>
  </div>
</div>