<div id="overlay">
  <div id="Eintrag">
      <h2>{{erstellungsTitel}}</h2>
      <br><br>
      <form [formGroup]="neuerEintrag" (ngSubmit)="submit(neuerEintrag.value)">
        <label for="eintrag">Kategorie: </label>
        <select name="eintrag" formControlName="EintragArt">
          <option value="Ziel">Ziel</option>
          <option value="Erinnerung">Erinnerung</option>
          <option value="Kalender">Kalender</option>
          <option value="Tagebuch">Tagebuch</option>
          <option value="ToDo">ToDo</option>
          <!-- <option value="Galerie">Galerie</option> -->
        </select>
          <br>
          <br>
         <div class="inputBox">
          <input type="text" name="" required="" formControlName="Datum">
          <label>Datum</label>
          </div> 

          <!-- Nur wenn Erinnerungen, Kalender ODER wir fügen überall Uhrzeit ein -->
          <div class="inputBox"> 
          <input type="text" name="" formControlName="Uhrzeit">
          <label>Uhrzeit</label>
          </div> 

          <div class="inputBox">
          <input type="text" name="" required="" formControlName="Titel">
          <label>Titel</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" formControlName="Untertitel">
          <label>Untertitel</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" required="" formControlName="Text">
          <label>Text</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" formControlName="Notiz">
          <label>Notiz</label>
          </div> 
          <div class="inputBox">
          <input type="text" name="" formControlName="Anmerkung">
          <label>Anmerkung</label>
          </div>
          <a routerLink="/main">
            <input id="submit" type="submit" value="zurück">
          </a>
        <input type="submit" value="Submit">
      </form>
  </div>
</div>