<div class="box">

  <h2>{{loginTitel}}</h2>
  <form [formGroup] ="nutzerLogin" (ngSubmit)="submit(nutzerLogin.value)">
      <div class="inputBox">
        <input type="text" required="" formControlName="Nutzername">
        <label>Nutzername: </label>
      </div>

      <div class="inputBox">
        <input type="text" required="" formControlName="Passwort">
        <label>Passwort: </label>
      </div>

       <!-- Button "Login bestätigen" -->
      <input id="login" type="submit" value="bestätigen">
  </form>
  <!--Button "registrieren"-->
  <a routerLink="/registrierung" float="right">
    <input id="registrieren" type="submit" value="registrieren">
  </a>

</div>