<div class="box">

  <h2>{{loginTitel}}</h2>
  <form>
    <div *ngFor="let loginElemente of loginElemente">
      <div class="inputBox">
        <input type="text" required="">
        <label>{{loginElemente.input}}</label>
      </div>
    </div>
  </form>

  <!-- Button "Login bestätigen" -->
  <!-- hier kommt noch die Bedingung, ab wann man zur Main ruebergeleitet wird : nach Ausfuellen aller Felder-->
  <a routerLink="/main">
    <input id="login" type="submit" value="bestätigen">
  </a>

  <!--Button "registrieren"-->
  <a routerLink="/registrierung">
    <input id="registrieren" type="submit" value="registrieren">
  </a>

</div>