<div class="box">

  <h2>{{loginTitel}}</h2>
  <form [formGroup] ="nutzerLogin" (ngSubmit)="submit(nutzerLogin.value)">
      <div class="inputBox">
        <input type="text" required="" formControlName="Nutzername">
        <label>Nutzername: </label>
      </div>

      <div class="inputBox">
        <input type="text" required="" formControlName="Passwort">
        <label>Passwort: </label>
      </div>
      <input id="login" type="submit" value="bestätigen">
  </form>

  <!-- Button "Login bestätigen" -->
  <!-- hier kommt noch die Bedingung, ab wann man zur Main ruebergeleitet wird : nach Ausfuellen aller Felder-->
  <!-- <a routerLink="/main">
    <input id="login" type="submit" value="bestätigen">
  </a> -->

  

  <!--Button "registrieren"-->
  <a routerLink="/registrierung">
    <input id="registrieren" value="registrieren">
  </a>

</div>